<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card" style="width: 100%;">
                  <div class="card-header text-center">
                    Doctor Detail
                  </div>
                  <div class=" container" style="width: 100%">
                  
                      <img src="{{doctor.profile_pic.url}}" class="card-img-top" alt="...">
              
                    <div class="card-body">
                      <h5 class="card-title">{{doctor.name}}</h5>
                     
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{doctor.qualification}}</li>
                      <li class="list-group-item">{{doctor.department}}</li>
                      
                        <div class="row">
                            <div class="col-6">
                                <a href="{%url 'doctor-edit' doctor.id%}" class="btn btn-outline-warning form-control">Edit</a>
                                
                            </div>
                            <div class="col-6">
                                <a href="{%url 'doctor-delete' doctor.id%}" class="btn btn-outline-danger form-control">Delete</a>
                            </div>
                        </div>
                      </li>
                      
                    </ul>
                  </div>
                   
                  </div>
            </div>
        </div>
      </div>
</body>
</html>